header{
    border-bottom:rgb(175, 137, 39) 8px ridge;
    margin-top: 10px;
}
body{
    background-color: #000000;
}
h1{
    text-align: center;
    color:rgb(175, 137, 39);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow:#ffffff 1px 1px;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    text-rendering: auto;
    background-color:#ffffff;
    color:#000000;
    font-family: Arial;
    padding: 10px;
}
span{
    padding: 20px;
}
h2{
    font-size: 22px;
    font-weight: bolder;
}
h3{
    font-size: 20px;
    font-weight: bold;
}
p{
    margin: 20px;
    font-size: 18px;
}
p:hover{
    border-radius: 20px;
    background-color:#000000;
    color:rgb(175, 137, 39);
}
a{
    cursor: pointer;
    text-decoration: none;
}
footer{
    text-align: center;
    border-top:rgb(175, 137, 39) 10px ridge;
    color:#ffffff;
}



.homelogo{
    border: rgb(175, 137, 39) 8px solid;
    border-radius: 30px;
    margin: 0px;
    padding: 5px;
}
.slogan{
    margin-top: 5px;
    color:rgb(175, 137, 39);
    font-size: 19px;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    text-shadow:#ffffff 1px 1px;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}
.menu a{
    color:#ffffff;
    font-size: 12px;
    font-family: monospace;
}
.menu a:hover{
    color:rgb(175, 137, 39);
    font-size: 14px;
}
.picsect{
    background-color:#000000;
}
.picedit{
    border:rgb(175, 137, 39) 5px ridge;
    border-radius: 45px;
    margin: 5px;
}
.gldborder{
    border:rgb(175, 137, 39) 2px ridge;
    border-radius: 30px;
    background-color:rgb(175, 137, 39);
    margin: 5px;
    color:#000000;
}